<header
  *ngIf="
    currentRoute !== '/auth/register' &&
    currentRoute !== '/auth/login' &&
    currentRoute.split('/')[1] !== 'link'
  "
  class="navbar"
>
  <nav class="container navbar-container">
    <a [routerLink]="['/homepage']" class="logo"
      ><ng-icon
        name="ionLink"
        size="30"
        style="display: flex; justify-content: center; align-items: center"
      ></ng-icon
      ><span>Link4bio</span></a
    >
    <div *ngIf="user$ | async as user; else notLoggedIn">
      <button
        class="mat-elevation-z0 avatar-menu"
        mat-fab
        [matMenuTriggerFor]="menu"
      >
        G
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/profile/details">Profilo</a>
        <button mat-menu-item (click)="logOut()">Esci</button>
      </mat-menu>
    </div>
    <ng-template #notLoggedIn>
      <div class="buttons-container">
        <a mat-flat-button color="primary" [routerLink]="['/auth/register']"
          >Registrati</a
        >
        <a mat-stroked-button [routerLink]="['/auth/login']">Accedi</a>
      </div>
    </ng-template>
  </nav>
</header>
