.container {
  max-width: 1360px;
  margin-inline: auto;
}

.page-container {
  max-width: 1360px;
  margin-inline: auto;
  padding: 20px 0px;
  min-height: calc(100vh - 64px);
}

.link-container {
  max-width: 680px;
  margin-inline: auto;
  padding: 20px 0px;
}
