@import "/src/assets/scss/colors";

label {
  font-weight: 600;

  &.flex-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.flex-input {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    height: 46px !important;
    width: 46px !important;
    padding: 0px !important;
  }

  button.mat-flat-button,
  button.mat-stroked-button,
  button.mat-button {
    min-width: 0 !important;
  }
}

.l4b-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  .mat-form-field {
    width: 100%;

    .mat-input-element {
      padding: 0px;
    }
    .mat-form-field-underline {
      display: none !important;
    }
    .mat-form-field-infix {
      border: 0;
    }
    .mat-form-field-flex {
      border-radius: 4px;
      padding: 8px;
      border: 1px solid $grey-light;
      align-items: center;
      background: $grey-bg;
    }
    .mat-form-field-wrapper {
      padding: 0px !important;
    }
    .mat-icon-button {
      height: 18px !important;
    }
  }
}
