$my-custom-primary: (
  50: #e4eafa,
  100: #bbcaf3,
  200: #8ea7ec,
  300: #6183e4,
  400: #3f69de,
  500: #1d4ed8,
  600: #1a47d4,
  700: #153dce,
  800: #1135c8,
  900: #0a25bf,
  A100: #eaecff,
  A200: #b7bfff,
  A400: #8492ff,
  A700: #6a7bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-custom-warn: (
  50: #e4eafa,
  100: #bbcaf3,
  200: #8ea7ec,
  300: #6183e4,
  400: #3f69de,
  500: #1d4ed8,
  600: #1a47d4,
  700: #153dce,
  800: #1135c8,
  900: #0a25bf,
  A100: #eaecff,
  A200: #b7bfff,
  A400: #8492ff,
  A700: #6a7bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-custom-accent: (
  50: #faf4e4,
  100: #f3e5bb,
  200: #ecd38e,
  300: #e4c161,
  400: #deb43f,
  500: #d8a71d,
  600: #d49f1a,
  700: #ce9615,
  800: #c88c11,
  900: #bf7c0a,
  A100: #fff6ea,
  A200: #ffe2b7,
  A400: #ffcd84,
  A700: #ffc26a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
