<div class="link-container">
  <div class="link-container__layout">
    <!-- AVATAR -->
    <div class="avatar">
      <span>G</span>
    </div>

    <!-- INFOS -->
    <div class="infos">
      <h1>@mariorossi</h1>
      <h2>Mario Rossi</h2>
      <h3>Roma, Italia</h3>
    </div>

    <!-- BUTTONS -->
    <div class="buttons">
      <button mat-icon-button>
        <ng-icon name="ionLocation" size="30"></ng-icon>
      </button>
      <button mat-icon-button>
        <ng-icon name="ionLocation" size="30"></ng-icon>
      </button>
    </div>

    <!-- LINKS -->
    <div class="links">
      <a class="link">
        <h2>Titolo</h2>
        <p>Sottotitolo</p>
      </a>
      <a class="link">
        <h2>Titolo</h2>
        <p>Sottotitolo</p>
      </a>
    </div>
  </div>
</div>
