<div class="links-form">
  <h1>Links</h1>
  <form [formGroup]="linksForm" class="forms-container">
    <form
      *ngFor="let link of refLinksForm.controls; index as i"
      [formGroup]="getFormGroupAt(i)"
    >
      <mat-form-field floatLabel="always">
        <mat-label>Titolo</mat-label>
        <input matInput type="text" formControlName="title" />
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Sottotitolo</mat-label>
        <input matInput type="text" formControlName="subtitle" />
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>URL</mat-label>
        <input matInput type="text" formControlName="url" />
      </mat-form-field>
      <div class="remove-container">
        <button
          type="button"
          mat-flat-button
          color="warn"
          (click)="removeLink(i)"
        >
          Rimuovi
        </button>
      </div>
    </form>
    <div class="buttons-container">
      <button mat-stroked-button type="button" (click)="addLink()">
        Aggiungi
      </button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="this.linksForm.invalid || this.refLinksForm.length === 0"
      >
        Salva
      </button>
    </div>
  </form>
</div>
