<div class="details-screen">
  <!-- USER DETAILS -->
  <div class="box">
    <div class="user-details-skl">
      <ngx-skeleton
        borderRadius="9999px"
        style="height: 112px; width: 112px"
      ></ngx-skeleton>
    </div>
    <div style="display: flex; flex-direction: column; gap: 20px">
      <app-input-skeleton
        *ngFor="let item of [].constructor(3); let i = index"
      ></app-input-skeleton>
    </div>
  </div>
  <div class="box">
    <div class="theme-form-skl">
      <ngx-skeleton
        height="100%"
        width="100%"
        borderRadius="4px"
      ></ngx-skeleton>
      <ngx-skeleton
        height="100%"
        width="100%"
        borderRadius="4px"
      ></ngx-skeleton>
    </div>
  </div>
  <div class="box">
    <div class="generic-skl">
      <app-input-skeleton
        *ngFor="let item of [].constructor(2); let i = index"
      ></app-input-skeleton>
    </div>
  </div>
  <div class="box">
    <div class="generic-skl">
      <app-input-skeleton
        *ngFor="let item of [].constructor(2); let i = index"
      ></app-input-skeleton>
    </div>
  </div>
</div>
