<ngx-loading
  [show]="(loadingThemeMutation.isLoading$ | async)!"
  [config]="{ fullScreenBackdrop: true }"
></ngx-loading>
<div class="theme-form">
  <div class="grid-container">
    <!--LINK PREVIEW-->
    <div
      [style.background]="themeForm.value.backgroundColor"
      class="link-preview__container"
    >
      <!--AVATAR-->
      <div class="avatar">
        <img
          alt="Avatar"
          *ngIf="pageData?.user?.avatarUrl; else noAvatar"
          [src]="pageData?.user?.avatarUrl"
          style="height: 96px; width: 96px; border-radius: 9999px"
        />
        <ng-template #noAvatar>
          <span>{{ pageData?.user?.displayName?.charAt(0) }}</span>
        </ng-template>
      </div>
      <!--INFOS-->
      <div [style.color]="themeForm.value.textColor" class="infos">
        <h1>@{{ pageData?.uri }}</h1>
        <h2>{{ pageData?.user?.displayName }}</h2>
        <div style="display: flex; align-items: center; gap: 5px">
          <ng-icon name="ionLocation" size="20"></ng-icon>
          <h3>{{ pageData?.user?.location }}</h3>
        </div>
        <p style="padding-top: 20px !important">{{ pageData?.user?.bio }}</p>
      </div>
      <!--BUTTONS-->
      <div
        *ngIf="pageData?.buttons && pageData?.buttons?.length! > 0"
        class="buttons"
      >
        <a
          target="_blank"
          style="display: flex; align-items: center; justify-content: center"
          *ngFor="let button of pageData?.buttons"
          [href]="button.url"
          mat-icon-button
        >
          <ng-icon
            [name]="button | getButtonIcon"
            size="30"
            [color]="themeForm.value.buttonColor!"
          ></ng-icon>
        </a>
      </div>
      <!--LINKS-->
      <div
        *ngIf="pageData?.links && pageData?.links?.length! > 0"
        class="links"
      >
        <a
          target="_blank"
          [href]="pageData?.links?.at(0)?.url"
          [style.background]="themeForm.value.buttonColor"
          [style.color]="themeForm.value.buttonTextColor"
          [style.border-color]="themeForm.value.buttonColor"
          class="link"
        >
          <h2>{{ pageData?.links?.at(0)?.title }}</h2>
          <p>{{ pageData?.links?.at(0)?.subtitle }}</p>
        </a>
      </div>
    </div>
    <!--COLOR PICKERS-->
    <form
      [formGroup]="themeForm"
      (ngSubmit)="editTheme()"
      class="color-pickers__form"
    >
      <div class="color-picker">
        <label for="backgroundColor">Colore sfondo</label>
        <div
          id="backgroundColor"
          class="picker-btn"
          formControlName="backgroundColor"
          [style.background]="themeForm.value.backgroundColor"
          ngx-colors-trigger
        ></div>
      </div>
      <div class="color-picker">
        <label for="textColor">Colore testo</label>
        <div
          id="textColor"
          class="picker-btn"
          formControlName="textColor"
          [style.background]="themeForm.value.textColor"
          ngx-colors-trigger
        ></div>
      </div>
      <div class="color-picker">
        <label for="buttonColor">Colore bottoni</label>
        <div
          id="buttonColor"
          class="picker-btn"
          formControlName="buttonColor"
          [style.background]="themeForm.value.buttonColor"
          ngx-colors-trigger
        ></div>
      </div>
      <div class="color-picker">
        <label for="buttonTextColor">Colore testo bottoni</label>
        <div
          id="buttonTextColor"
          class="picker-btn"
          formControlName="buttonTextColor"
          [style.background]="themeForm.value.buttonTextColor"
          ngx-colors-trigger
        ></div>
      </div>
      <div class="submit-btn">
        <button
          [disabled]="themeForm.invalid"
          mat-flat-button
          color="primary"
          type="submit"
        >
          Applica
        </button>
      </div>
    </form>
  </div>
</div>
