<div class="close-container">
  <button
    [disabled]="loadingMutation.isLoading$ | async"
    mat-dialog-close
    mat-icon-button
  >
    <ng-icon name="ionClose" size="30"></ng-icon>
  </button>
</div>
<form [formGroup]="buttonForm" (ngSubmit)="editButton()">
  <div class="l4b-input">
    <label [htmlFor]="button.id.toString()" class="flex-label">
      <ng-icon [name]="button | getButtonIcon" size="20"></ng-icon>
      {{ button | getButtonLabel }}
    </label>
    <mat-form-field floatLabel="never">
      <input
        formControlName="url"
        [id]="button.id.toString()"
        matInput
        type="text"
      />
    </mat-form-field>
  </div>
  <div class="buttons-container">
    <button
      [disabled]="loadingMutation.isLoading$ | async"
      type="button"
      mat-flat-button
      color="warn"
      (click)="deleteButton()"
    >
      Elimina
    </button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="
        buttonForm.pristine ||
        buttonForm.invalid ||
        buttonForm.value === button.url ||
        (loadingMutation.isLoading$ | async)
      "
    >
      Salva
      <ng-icon
        [ngClass]="{ spin: (loadingMutation.isLoading$ | async) }"
        [name]="(loadingMutation.isLoading$ | async) ? 'cssSpinner' : 'ionSave'"
        size="20"
        style="display: flex; justify-content: center; align-items: center"
      ></ng-icon>
    </button>
  </div>
</form>
