<div class="page-container details-screen">
  <app-details-skeleton
    *ngIf="loadingPageData.isLoading$ | async; else loaded"
  ></app-details-skeleton>
  <!-- DETAILS FORM -->
  <ng-template #loaded>
    <app-user-details-form
      [pageData]="pageData"
      (detailsMutationEvent)="getPageData()"
    ></app-user-details-form>
    <app-theme-form
      [pageData]="pageData"
      (themeMutationEvent)="getPageData()"
    ></app-theme-form>
    <app-buttons-form
      [pageData]="pageData"
      (buttonMutationEvent)="getPageData()"
    ></app-buttons-form>
    <app-links-form
      [pageData]="pageData"
      (linkMutationEvent)="getPageData()"
    ></app-links-form>
  </ng-template>
</div>
