<div class="buttons-form">
  <h1>Bottoni</h1>
  <form [formGroup]="buttonsForm">
    <form
      *ngFor="let button of refButtonsForm.controls; index as i"
      [formGroup]="getFormGroupAt(i)"
    >
      <div class="button-form">
        <mat-form-field floatLabel="always">
          <mat-label>
            <ng-icon [name]="button.value.icon" size="20"></ng-icon>
            {{ button.value.label }}</mat-label
          >
          <input matInput type="text" formControlName="url" />
        </mat-form-field>
        <button mat-flat-button color="warn" (click)="removeButton(i)">
          Rimuovi
        </button>
      </div>
    </form>
  </form>
  <div class="save-button">
    <button
      [disabled]="this.buttonsForm.invalid || this.refButtonsForm.length === 0"
      mat-flat-button
      color="primary"
    >
      Salva
    </button>
  </div>
  <div class="buttons-list">
    <ng-container *ngFor="let button of buttonsData">
      <button
        *ngIf="!checkFormButtonsContains(button)"
        (click)="addButton(button)"
        mat-stroked-button
      >
        <span>{{ button.label }}</span>
        <ng-icon
          style="display: flex; align-items: center; justify-content: center"
          [name]="button.icon"
          size="20"
        ></ng-icon>
      </button>
    </ng-container>
  </div>
</div>
