<div class="buttons-form">
  <h2>Bottoni</h2>
  <ng-container
    *ngIf="pageData && (pageData?.buttons)!.length > 0; else noButtons"
  >
    <div style="display: flex; flex-direction: column; gap: 20px">
      <div class="l4b-input" *ngFor="let button of pageData.buttons">
        <label [htmlFor]="button | getButtonLabel" class="flex-label">
          <ng-icon [name]="button | getButtonIcon" size="20"></ng-icon>
          {{ button | getButtonLabel }}</label
        >
        <div class="flex-input">
          <mat-form-field floatLabel="never">
            <input
              disabled
              [id]="button | getButtonLabel"
              matInput
              type="text"
              [placeholder]="button.url"
            />
          </mat-form-field>
          <button
            (click)="openEditButtonDialog(button)"
            type="button"
            mat-stroked-button
          >
            <ng-icon name="remixEdit2Fill" size="20"></ng-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noButtons>
    <p>Non hai ancora aggiunto nessun bottone</p>
  </ng-template>
  <form
    [formGroup]="buttonsForm"
    (ngSubmit)="saveButtons()"
    class="forms-group"
  >
    <form
      *ngFor="let button of refButtonsForm.controls; index as i"
      [formGroup]="getFormGroupAt(i)"
    >
      <div class="l4b-input">
        <label [htmlFor]="button.value.label" class="flex-label">
          <ng-icon [name]="button.value.icon" size="20"></ng-icon>
          {{ button.value.label }}</label
        >
        <div class="flex-input">
          <mat-form-field floatLabel="never">
            <input
              [id]="button.value.label"
              matInput
              type="text"
              formControlName="url"
              placeholder="Inserisci qui l'URL"
            />
          </mat-form-field>
          <button type="button" mat-stroked-button (click)="removeButton(i)">
            <ng-icon name="ionTrashBin" size="20"></ng-icon>
          </button>
        </div>
      </div>
    </form>
    <div class="save-button">
      <button
        type="submit"
        [disabled]="
          this.buttonsForm.invalid || this.refButtonsForm.length === 0
        "
        mat-flat-button
        color="primary"
      >
        Salva<ng-icon
          name="ionSave"
          size="20"
          style="display: flex; justify-content: center; align-items: center"
        ></ng-icon>
      </button>
    </div>
  </form>
  <div class="buttons-list">
    <ng-container *ngFor="let button of buttonsData">
      <button
        *ngIf="
          !checkFormButtonsContain(button) && !checkSavedButtonsContain(button)
        "
        (click)="addButton(button)"
        mat-stroked-button
      >
        <span>{{ button.label }}</span>
        <ng-icon
          style="display: flex; justify-content: center; align-items: center"
          [name]="button.icon"
          size="20"
        ></ng-icon>
      </button>
    </ng-container>
  </div>
</div>
