@import "/src/assets/scss/colors";

.buttons-form {
  border: 2px solid $grey-light;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;

  .button-form {
    display: flex;
    align-items: center;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }
  }

  .save-button {
    display: flex;
    justify-content: flex-end;
  }

  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
