<div class="register__screen">
  <div class="register__container">
    <a
      mat-button
      style="font-size: 1.5rem; line-height: 2rem"
      [routerLink]="['/homepage']"
      ><ng-icon
        name="ionLink"
        size="30"
        style="display: flex; justify-content: center; align-items: center"
      ></ng-icon
      >Link4bio</a
    >
    <div class="register__box">
      <h1>Crea il tuo account</h1>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="register__form"
      >
        <div class="l4b-input">
          <label for="name">Nome</label>
          <mat-form-field floatLabel="never">
            <input
              formControlName="name"
              id="name"
              type="text"
              matInput
              placeholder="Il tuo nome"
            />
          </mat-form-field>
        </div>
        <div class="l4b-input">
          <label for="surname">Cognome</label>
          <mat-form-field floatLabel="never">
            <input
              formControlName="surname"
              id="surname"
              type="text"
              matInput
              placeholder="Il tuo cognome"
            />
          </mat-form-field>
        </div>
        <div class="l4b-input">
          <label for="email">Email</label>
          <mat-form-field floatLabel="never">
            <input
              formControlName="email"
              id="email"
              type="email"
              matInput
              placeholder="name@company.it"
            />
          </mat-form-field>
        </div>
        <div class="l4b-input">
          <label for="password">Password</label>
          <mat-form-field floatLabel="never">
            <input
              formControlName="password"
              id="password"
              type="password"
              matInput
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
            />
          </mat-form-field>
        </div>
        <div class="l4b-input">
          <label for="confirm">Conferma password</label>
          <mat-form-field floatLabel="never">
            <input
              formControlName="confirm"
              id="confirm"
              type="password"
              matInput
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
            />
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" type="submit">
          Registrati
        </button>
        <div class="separator"></div>
        <button mat-stroked-button>
          <ng-icon
            name="ionLogoGoogle"
            size="20"
            style="display: flex; justify-content: center; align-items: center"
          ></ng-icon
          >Accedi con Google
        </button>
      </form>
      <p>
        Hai già un account?
        <a [routerLink]="['/auth/login']"><strong>Accedi</strong></a>
      </p>
    </div>
  </div>
</div>
