@import "/src/assets/scss/colors";

.register__screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $grey-bg;

  .register__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: 100%;

    p {
      padding-top: 17.5px;
    }

    .register__box {
      padding: 24px;
      background: white;
      border: 2px solid $grey-light;
      border-radius: 4px;
      max-width: 448px;
      width: 100%;

      .register__form {
        display: flex;
        flex-direction: column;

        .separator {
          display: flex;
          height: 1px;
          background: $grey-light;
          margin: 17.5px 0px;
        }
      }
    }
  }
}
