@import "/src/assets/scss/colors";

.register__screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $grey-bg;
  padding: 20px 0px;

  .register__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    width: 100%;

    .register__box {
      padding: 24px;
      background: white;
      border: 2px solid $grey-light;
      border-radius: 4px;
      max-width: 448px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .register__form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .separator {
          display: flex;
          height: 1px;
          background: $grey-light;
        }
      }
    }
  }
}
