<form (ngSubmit)="uploadAvatar()" class="avatar-upload-container">
  <label *ngIf="!avatarImageMin; else imageAvailable" for="upload"
    ><ng-icon name="ionCloudUpload" size="60"></ng-icon>
    <p>Clicca qui per caricare un'immagine di profilo</p></label
  >
  <ng-template #imageAvailable>
    <img class="avatar-preview" [src]="avatarImageMin" />
  </ng-template>
  <input
    id="upload"
    style="display: none"
    type="file"
    (change)="onSelectedFileChange($event)"
  />
  <div class="buttons-container">
    <button
      [disabled]="loadingAvatarMutation.isLoading$ | async"
      mat-stroked-button
      mat-dialog-close
    >
      Annulla
    </button>
    <button
      [disabled]="!avatarImage || (loadingAvatarMutation.isLoading$ | async)"
      mat-flat-button
      color="primary"
      type="submit"
      (click)="uploadAvatar()"
    >
      Carica
      <ng-icon
        [ngClass]="{ spin: (loadingAvatarMutation.isLoading$ | async) }"
        [name]="
          (loadingAvatarMutation.isLoading$ | async)
            ? 'cssSpinner'
            : 'ionCloudUpload'
        "
        size="20"
        style="display: flex; justify-content: center; align-items: center"
      ></ng-icon>
    </button>
  </div>
</form>
