@import "/src/assets/scss/main.scss";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px !important;
  margin: 0px !important;
}
