<div class="page-container homepage__screen">
  <h1 class="title">Tutto ciò di cui hai bisogno in un solo link!</h1>
  <p class="subtitle">
    Crea connessioni significative con il mondo attraverso Link4Bio: la tua
    piattaforma unica per condividere in un solo luogo tutti i tuoi link
    importanti e dare vita alla tua presenza online in modo intuitivo e
    coinvolgente.
  </p>
  <form>
    <div class="l4b-input">
      <mat-form-field floatLabel="never">
        <input matInput placeholder="Il tuo username" />
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary">
      Ottieni il tuo link<ng-icon
        name="ionArrowForward"
        size="20"
        style="display: flex; justify-content: center; align-items: center"
      ></ng-icon>
    </button>
  </form>
</div>
