<div class="user-details-form">
  <div class="user-details-form__layout">
    <div class="link-button">
      <a mat-stroked-button [routerLink]="['/link/asd']" target="_blank"
        >Vai al link<ng-icon
          name="ionLink"
          size="20"
          style="display: flex; justify-content: center; align-items: center"
        ></ng-icon
      ></a>
    </div>
    <div class="avatar__container">
      <div class="avatar" style="position: relative">
        <span>{{ pageData?.user?.displayName?.charAt(0) }}</span>
        <button
          (click)="openAvatarUploadDialog()"
          mat-fab
          class="image-upload-btn"
        >
          <ng-icon size="20" name="ionImage"></ng-icon>
        </button>
      </div>
    </div>
    <form [formGroup]="userInfosForm" (ngSubmit)="editUserInfos()">
      <div class="l4b-input">
        <label for="name">Nome completo</label>
        <mat-form-field floatLabel="never">
          <input
            formControlName="displayName"
            id="name"
            type="text"
            matInput
            placeholder="Il tuo nome"
          />
        </mat-form-field>
      </div>
      <div class="l4b-input">
        <label for="position">La tua posizione</label>
        <mat-form-field floatLabel="never">
          <input
            formControlName="location"
            id="position"
            type="text"
            matInput
            placeholder="Roma, Italia"
          />
        </mat-form-field>
      </div>
      <div class="l4b-input">
        <label for="bio">La tua bio</label>
        <mat-form-field floatLabel="never">
          <textarea
            formControlName="bio"
            id="bio"
            type="text"
            matInput
            placeholder="Scrivi qui la tua bio"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="save-button">
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="userInfosForm.pristine || userInfosForm.invalid"
        >
          Salva<ng-icon
            name="ionSave"
            size="20"
            style="display: flex; justify-content: center; align-items: center"
          ></ng-icon>
        </button>
      </div>
    </form>
  </div>
</div>
