<div class="user-details-form">
  <div class="user-details-form__layout">
    <div class="link-button">
      <a mat-stroked-button [routerLink]="['/link/asd']" target="_blank"
        >Vai al link</a
      >
    </div>
    <div class="avatar__container">
      <div class="avatar">
        <span>G</span>
      </div>
    </div>
    <form>
      <mat-form-field floatLabel="always">
        <mat-label>Il tuo username</mat-label>
        <input type="text" matInput placeholder="Username" />
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>La tua posizione</mat-label>
        <input type="text" matInput placeholder="Roma, Italia" />
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>La tua bio</mat-label>
        <textarea
          type="text"
          matInput
          placeholder="Scrivi qui la tua bio"
        ></textarea>
      </mat-form-field>
      <div class="save-button">
        <button mat-flat-button color="primary">Salva</button>
      </div>
    </form>
  </div>
</div>
