<div class="page-container">
  <div class="create__box">
    <h1>Aggiungi i dettagli della tua pagina</h1>
    <form>
      <mat-form-field floatLabel="always">
        <mat-label>Il tuo username</mat-label>
        <input type="text" matInput placeholder="Username" />
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>La tua posizione</mat-label>
        <input type="text" matInput placeholder="Roma, Italia" />
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>La tua bio</mat-label>
        <textarea
          type="text"
          matInput
          placeholder="Scrivi qui la tua bio"
        ></textarea>
      </mat-form-field>
      <div class="button-container">
        <button mat-flat-button color="primary">Crea</button>
      </div>
    </form>
  </div>
</div>
